{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["airbnb-typescript-prettier"],
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "react/require-default-props": 0,
    "react/function-component-definition": 0,
    "no-unused-vars": 1,
    "no-console": 1,
    "global-require": "off",
    "object-curly-newline": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "consistent-return": "off",
    "radix": "off",
    "curly": "off",
    "nonblock-statement-body-position": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
